{{>layout/header}} <!-- 앞의 기호는 현재 머스테치 파일(index.mustache) 기준으로 다른 파일을 가져오는 명령어이다. -->

    <h1> Start Web Service With Spring-Boot</h1>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <a href="/posts/save" role="button" class="btn btn-primary">글 등록</a>
            </div>
        </div>
    </div>


{{>layout/footer}}